################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LetsCookApp/LetsCookApp/obj/Debug
