################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LetsCookApp/LetsCookApp/obj/Debug
/LetsCookApp/LetsCookApp.Droid/obj/Debug/81
/LetsCookApp/LetsCookApp.iOS/obj/iPhone/Debug
/packages
/.vs/LetsCookApp/v15/Server/sqlite3
/LetsCookApp/LetsCookApp/bin/Debug
/LetsCookApp/LetsCookApp.Droid/bin/Debug
/LetsCookApp/LetsCookApp.Droid/obj/.cache
/.vs/LetsCookApp/v15
/LetsCookApp/LetsCookApp.Droid/obj
/.vs
